# SPDX-License-Identifier: MIT
# QEMU's ast2600-evb machine model has no ACRY (ECC/RSA hardware
# accelerator) device at all -- confirmed via GDB: RSA signature
# verification hangs forever inside aspeed_acry_mod_exp()'s polling loop
# (drivers/crypto/aspeed_acry.c), which QEMU answers with a permanent
# "unimplemented device read" at the accelerator's status register
# (0xfa000 + ACRY_RSA_INT_STS 0x3fc = 0xfa3fc) instead of ever setting the
# ready/complete bits the driver is waiting on. Disabling the driver
# forces U-Boot's RSA verification back onto its software modexp
# fallback, which QEMU's CPU emulation can actually execute to
# completion.
# CONFIG_ASPEED_ACRY is not set
